
.vs/PracticoSolution/config/applicationhost.config
.vs/PracticoSolution/DesignTimeBuild/.dtbcache.v2
.vs/PracticoSolution/FileContentIndex/4c6f76d7-bb40-4048-9aa6-ad4cdcd8efae.vsidx
.vs/PracticoSolution/FileContentIndex/52c8b9d9-dddc-4823-ad7d-f95094442b39.vsidx
.vs/PracticoSolution/FileContentIndex/f961ff78-4a75-4a90-82bf-79ce187d4762.vsidx
.vs/PracticoSolution/v17/.futdcache.v2
.vs/PracticoSolution/v17/.suo
.vs/ProjectEvaluation/practicosolution.metadata.v7.bin
.vs/ProjectEvaluation/practicosolution.projects.v7.bin
*.dll
*.exe
*.pdb
*.cache
*.txt
*.editorconfig
*.BuildWithSkipAnalyzers
*.CopyComplete
*.props
*.targets
Practico/obj/Practico.csproj.nuget.dgspec.json
Practico/obj/Debug/net7.0/staticwebassets.pack.json
Practico/obj/Debug/net7.0/staticwebassets.development.json
Practico/obj/Debug/net7.0/staticwebassets.build.json
Practico/obj/Debug/net7.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
Practico/obj/Debug/net7.0/scopedcss/projectbundle/Practico.bundle.scp.css
Practico/obj/Debug/net7.0/scopedcss/bundle/Practico.styles.css
Practico/obj/Debug/net7.0/Practico.sourcelink.json
Practico/obj/Debug/net7.0/Practico.RazorAssemblyInfo.cs
Practico/obj/Debug/net7.0/Practico.GlobalUsings.g.cs
Practico/obj/Debug/net7.0/Practico.AssemblyInfo.cs
Practico/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Practico/obj/project.assets.json
*.json
